body{
    background-color: gray;
}
hr{
    color: red;
    width: 85%;
    height: 10px;
    background-color:brown ;
    margin: 5px;
}
input{
    margin: 5px;
    box-shadow: 8px 6px;
}
.card{
    margin: 1px;
}
button{
    margin: 10px;
}